.title,
.summary {
    text-align: center;
}

.title {
    font-size: 36px;
    margin: 150px 0 20px;
}

.summary {
    color: rgba(0, 0, 0, .5);
    margin-bottom: 59px;
    font-size: 14px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
}

.content {
    padding: 0 10%;
    height: 100%;
}

.goUrl {
    color: #002FA7;
    cursor: pointer;
}

.pagination {
    margin-top: 30px;
    width: 100%;
}
.wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}